{% if blog.metafields["custom_fields"]["two_grid"] != blank %}
  <div class="custom-field custom-field__two-grid custom-field__type--field-collection-json">
    <h3 class="custom-field--title">Two Grid</h3>
    <div class="custom-field--value">
      {% for item in blog.metafields["custom_fields"]["two_grid"] %}
        <div class="fc-item fc-index--{{ forloop.index0 }}">
           {% if item["group_name"] != blank %}
             <div class="fc-field field__group-name field-type--text">
               <h4 class="custom-field--title">Group Name</h4>
               <div class="custom-field--value">
                 {{ item["group_name"] }}
               </div>
             </div>
           {% endif %}
           {% if item["image"] != blank %}
             <div class="fc-field field__image field-type--image">
               <h4 class="custom-field--title">Image</h4>
               <div class="custom-field--value">
                 {{ item["image"] }}
               </div>
             </div>
           {% endif %}
           {% if item["title"] != blank %}
             <div class="fc-field field__title field-type--text">
               <h4 class="custom-field--title">Title</h4>
               <div class="custom-field--value">
                 {{ item["title"] }}
               </div>
             </div>
           {% endif %}
           {% if item["description"] != blank %}
             <div class="fc-field field__description field-type--html">
               <h4 class="custom-field--title">Description</h4>
               <div class="custom-field--value">
                 {{ item["description"] }}
               </div>
             </div>
           {% endif %}
           {% if item["description_image"] != blank %}
             <div class="fc-field field__description-image field-type--image">
               <h4 class="custom-field--title">Description Image</h4>
               <div class="custom-field--value">
                 {{ item["description_image"] }}
               </div>
             </div>
           {% endif %}
           {% if item["flip_grid"] != blank %}
             <div class="fc-field field__flip-grid field-type--checkbox">
               <h4 class="custom-field--title">Flip Grid</h4>
               <div class="custom-field--value">
                 {{ item["flip_grid"] }}
               </div>
             </div>
           {% endif %}
           {% if item["image_height"] != blank %}
             <div class="fc-field field__image-height field-type--text">
               <h4 class="custom-field--title">Image Height</h4>
               <div class="custom-field--value">
                 {{ item["image_height"] }}
               </div>
             </div>
           {% endif %}
           {% if item["background_color"] != blank %}
             <div class="fc-field field__background-color field-type--text">
               <h4 class="custom-field--title">Background Color</h4>
               <div class="custom-field--value">
                 {{ item["background_color"] }}
               </div>
             </div>
           {% endif %}
           {% if item["reverse_col"] != blank %}
             <div class="fc-field field__reverse-col field-type--checkbox">
               <h4 class="custom-field--title">Reverse Col</h4>
               <div class="custom-field--value">
                 {{ item["reverse_col"] }}
               </div>
             </div>
           {% endif %}
         </div>
       {% endfor %}
    </div>
  </div>
{% endif %}