{% if article.metafields["custom_fields"]["images"] != blank %}
  <div class="custom-field custom-field__images custom-field__type--field-collection-json">
    <h3 class="custom-field--title">Images</h3>
    <div class="custom-field--value">
      {% for item in article.metafields["custom_fields"]["images"] %}
        <div class="fc-item fc-index--{{ forloop.index0 }}">
           {% if item["group_name"] != blank %}
             <div class="fc-field field__group-name field-type--text">
               <h4 class="custom-field--title">Group Name</h4>
               <div class="custom-field--value">
                 {{ item["group_name"] }}
               </div>
             </div>
           {% endif %}
           {% if item["images_per_row"] != blank %}
             <div class="fc-field field__images-per-row field-type--number-list">
               <h4 class="custom-field--title">Images per row</h4>
               <div class="custom-field--value">
                 {{ item["images_per_row"] }}
               </div>
             </div>
           {% endif %}
           {% if item["image_height"] != blank %}
             <div class="fc-field field__image-height field-type--text">
               <h4 class="custom-field--title">Image Height</h4>
               <div class="custom-field--value">
                 {{ item["image_height"] }}
               </div>
             </div>
           {% endif %}
           {% if item["caption"] != blank %}
             <div class="fc-field field__caption field-type--html">
               <h4 class="custom-field--title">Caption</h4>
               <div class="custom-field--value">
                 {{ item["caption"] }}
               </div>
             </div>
           {% endif %}
           {% if item["image"] != blank %}
             <div class="fc-field field__image field-type--image">
               <h4 class="custom-field--title">Image</h4>
               <div class="custom-field--value">
                 {{ item["image"] }}
               </div>
             </div>
           {% endif %}
           {% if item["enable_offset"] != blank %}
             <div class="fc-field field__enable-offset field-type--checkbox">
               <h4 class="custom-field--title">Enable offset</h4>
               <div class="custom-field--value">
                 {{ item["enable_offset"] }}
               </div>
             </div>
           {% endif %}
         </div>
       {% endfor %}
    </div>
  </div>
{% endif %}