<!-- snippets/master--slider -->

{% liquid 

    assign s                        = section.settings

    assign s_id                     = section.id

    assign hght_fallback            = '500px'
    assign site_max_width           = 1400 | append: 'px'

    assign mobile_content_relative  = s.mob_rel
    assign use_background_images    = s.set_height
    assign mobile_overlay_at_tablet = s.show_mobile_overlay_sooner

    assign auto_slide               = s.auto_slide
    assign use_arrows               = s.use_arrows
    assign use_dots                 = s.use_dots
    
    assign section_custom_css       = s.custom_css
    assign class                    = 'section--' | append: s_id
    assign css_class                = '.' | append: class

    assign desktop_height           = s.image_height | default: hght_fallback

    if desktop_height contains '%'
        assign desktop_height          = desktop_height | replace: '%','vw'
        assign desktop_img_height      = 'padding-top:' | append: desktop_height | append: ';height: 0;min-height: 0;'
    else
        assign desktop_img_height      = 'min-height:' | append: desktop_height | append: 'vh;'
    endif

    assign mobile_height              = s.image_height_mob | default: desktop_height
    if mobile_height contains '%'
        assign mobile_height          = mobile_height | replace: '%','vw'
        assign mobile_img_height       = 'padding-top:' | append: mobile_height | append: ';height: 0;min-height: 0;'
    else
        assign mobile_img_height       = 'min-height:' | append: mobile_height | append: 'vh;'
    endif

    assign modal                = ''
    assign full_width           = s.full_width
    
    assign txt_wdth          = s.width
    assign section_text_align         = s.text_align

    # assign txt_algn         = s.text_align
    assign vert             = s.vert_align
    assign hor              = s.hor_align
    if section_text_align == 'left'
        assign alignment    = 'left: ' | append: hor | append: '%; transform: translate(-' | append: hor | append: '%,-' | append: vert | append: '%); top: ' | append: vert | append: '%;'
    elsif section_text_align == 'center'
        assign alignment    = 'left: 50%; transform: translate(-50%,-' | append: vert | append: '%); top: ' | append: vert | append: '%;'
    elsif section_text_align == 'right'
        assign alignment    = 'left: initial; right:'  | append: hor | append: '%; transform: translate(' | append: hor | append: '%,-' | append: vert | append: '%); top:' | append: vert | append: '%;'
    endif
%}
{% for block in section.blocks %}

    {% liquid 

        assign b                = block.settings

        assign use_slide         = b.show_image

        assign block_custom_css  = b.custom_css
        assign slide_id          = 'image--' | append: block.id
        assign slide_class       = '.' | append: slide_id

        assign top_stars         = b.stars | plus: 0 

        assign ttl               = b.title
        assign makeh1            = b.make_h1
        assign ttl_clr           = b.title_color
        assign ttl_sze           = b.font_size_title

        assign sub_ttl           = b.subtitle
        assign sub_ttl_clr       = b.subtitle_color
        assign sub_ttl_sze       = b.font_size_subtitle

        assign txt               = b.text
        assign txt_clr           = b.text_color
        assign txt_sze           = b.font_size_text
        assign btn_txt_sze       = b.btn_size_text
        # Buttons
        assign btn1_use          = false
        assign btn2_use          = false
        # Button 1
        assign btn1_url          = b.btn1_url
        assign btn1_txt          = b.btn1_txt
        assign btn1_style        = b.btn1_style
        # Button 2
        assign btn2_url          = b.btn2_url
        assign btn2_txt          = b.btn2_txt
        assign btn2_style        = b.btn2_style


        if btn1_url != blank and btn1_txt != blank
            assign btn1_use      = true
        endif
        if btn2_url != blank and btn2_txt != blank
            assign btn2_use      = true
        endif

        assign img_main          = b.image
        assign img_mob           = b.image_mob
        assign icn_img           = b.icon

        assign use_cf            = false 
        if b.metafield_image != blank 
          assign img_main        = b.metafield_image
          assign use_cf          = true
          if b.metafield_image_alt != blank 
            assign img_main_alt = b.metafield_image_alt
          endif  
        endif 

        assign vid_embd          = b.video_url
        assign vid_host          = b.video_hosted
        assign hosted_thumb      = b.video_hosted_thumbnail
        assign vid_host_mob      = b.video_hosted_mobile
        assign hosted_thumb_mob  = b.video_hosted_thumbnail_mobile
        assign vid_ratio         = blank
        assign vid_ratio_mob     = blank
        assign video_autoplay    = b.video_autoplay

        if b.video_ratio != blank 
            assign base_num      = 0.00
            assign vid_num       = base_num | plus: b.video_ratio
            assign vid_ratio     = vid_num | divided_by: 100
        endif

        if b.video_ratio_mobile != blank 
            assign base_num_mob   = 0.00
            assign vid_num_mob    = base_num_mob | plus: b.video_ratio_mobile
            assign vid_ratio_mob  = vid_num_mob | divided_by: 100
        else
            assign vid_ratio_mob  = vid_ratio
        endif

        assign v_modal          = b.video_modal 
        assign v_modal_btn      = b.btn_txt_modal | default: 'Watch Video'

        assign bg_color          = b.bg_color
        assign op               = b.opacity | times: 0.01
        assign bg_color          = bg_color | color_modify: 'alpha', op
        assign bg_color_mob       = bg_color

        assign op_mob            = b.opacity_mob
        if op_mob != '0'
            assign bg_color_mob   = b.bg_color_mob
            assign op_mob        = op_mob | times: 0.01
            assign bg_color_mob   = bg_color_mob | color_modify: 'alpha', op_mob
        endif
        
        assign pos_type          = 'object-position: '
        if use_background_images
            assign pos_type      = 'background-position: '
        endif 

        assign position         = pos_type | append: b.align_bg | append: ';'
        assign mob_position      = '' 
        if img_mob != blank
            assign mob_position  = pos_type | append: b.align_bg_mob | append: ';'
        endif

    %}

    {% capture block_css %}
        {% render 'snippet--master--slider-block-css',
            slide_class: slide_class,
            bg_color: bg_color,
            op_mob: op_mob,
            bg_color_mob: bg_color_mob,
            mobile_overlay_at_tablet: mobile_overlay_at_tablet,
            section_text_align: section_text_align,
            txt_wdth: txt_wdth,
            alignment: alignment,
            full_width: full_width,
            text_align: s.text_align,
            mobile_content_relative: mobile_content_relative,
            ttl_sze: ttl_sze,
            ttl_clr: ttl_clr,
            title_font_mono: b.title_font_mono,
            sub_ttl_sze: sub_ttl_sze,
            sub_ttl_clr: sub_ttl_clr,
            subtitle_font_mono: b.subtitle_font_mono,
            txt_sze: txt_sze,
            txt_clr: txt_clr,
            btn_txt_sze: btn_txt_sze,
            btn1_style: btn1_style,
            color_button: b.color_button,
            color_button_border: b.color_button_border,
            color_button_text: b.color_button_text,
            color_button_hover: b.color_button_hover,
            color_button_border_hover: b.color_button_border_hover,
            color_button_text_hover: b.color_button_text_hover,
            btn_custom_inline: b.btn_custom_inline,
            img_mob: img_mob,
            position: position,
            mob_position: mob_position,
            use_background_images: use_background_images,
            desktop_img_height: desktop_img_height,
            mobile_img_height: mobile_img_height,
            mobile_height: mobile_height,
            settings_color_primary_body_text: settings.color_primary_body_text
        %}
    {% endcapture %}

    {% liquid
      if makeh1 == true 
        assign block_css       = block_css | replace: ' h2',' .h2'
        assign block_custom_css = block_custom_css | replace: ' h2',' .h2'
      endif
    %}

    {% capture video %}
        {% assign norm_mob = false %}
        {% if img_main == blank and img_mob == blank  %}
            {% assign norm_mob = true %}
        {% endif %}
        {% render 'snippet--video', 
            vidExt: vid_embd, 
            vidHosted: vid_host, 
            hostedThumb: hosted_thumb,
            vidClass: sectionClass, 
            normalMobile: norm_mob,
            useBG: use_background_images,
            videoRatio: vid_ratio,
            hideMobile: 'small--hide',
            autoPlay: video_autoplay
        %}
        <!-- Mobile Video (if different from desktop) -->
        {% if vid_host_mob != blank and vid_host_mob != vid_host %}
            {% render 'snippet--video', 
                vidExt: blank, 
                vidHosted: vid_host_mob, 
                hostedThumb: hosted_thumb_mob,
                vidClass: sectionClass, 
                normalMobile: norm_mob,
                useBG: use_background_images,
                videoRatio: vid_ratio_mob,
                hideMobile: 'medium-up--hide',
                autoPlay: video_autoplay
            %}
        {% endif %}
    {% endcapture %}


    {% capture img %}
        {% capture img_cls %}{% if img_mob != blank or mobile_content_relative == true %}{% if mobile_overlay_at_tablet %}medium-down{% else %}small{% endif %}--hide{% endif %}{% endcapture %}
        {% capture mob_img_cls %}{% if mobile_overlay_at_tablet %}large-up{% else %}medium-up{% endif %}--hide{% endcapture %}
        {% render 'snippet--image', 
            img: img_main,
            alt: img_main_alt, 
            class: img_cls,
            cf: use_cf,
            useBG: use_background_images 
        %}
        {% if img_mob != blank and mobile_content_relative == false %}
            {% render 'snippet--image', 
                img: img_mob, 
                class: mob_img_cls,
                useBG: use_background_images 
            %}
        {% endif %}
        {% if mobile_content_relative == true %}
            {% assign rel_img_mob = img_main %}
            {% if img_mob != blank %}
                {% assign rel_img_mob = img_mob %}
            {% endif %}
            {% render 'snippet--image', 
                img: rel_img_mob, 
                class: mob_img_cls,
                useBG: false 
            %}
        {% endif %}
    {% endcapture %}
    
    {% if v_modal != blank %}
        {% capture modal %}
            {{modal}}
            <div class="basic-modal video-modal" id="video_{{ forloop.index }}">
                <div data-close="video_{{ forloop.index }}" class="bg_close"></div>

                <div class="modal-inner">
                    <span data-close="video_{{ forloop.index }}" class="close-modal">
                        <span class="visually-hidden">Close</span>
                        {% render 'icon-close' %}
                    </span>
                    <div class="video-ratio for-modal">
                        {% if v_modal.type == "youtube" %}
                            <iframe class="modal_video" src="https://www.youtube.com/embed/{{ v_modal.id }}?rel=0&showinfo=0&vq=720" width="800" height="480" frameborder="0" allowfullscreen></iframe>
                        {% endif %}
                        {% if v_modal.type == "vimeo" %}
                            <iframe class="modal_video" src="//player.vimeo.com/video/{{ v_modal.id }}?byline=0&portrait=0&badge=0" width="800" height="480" frameborder="0" allowfullscreen></iframe>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endcapture %}
    {% endif %}

    {% if use_slide == true %}
      {% capture slides %}
        {{slides}}
        <div class=" slide-image {% if v_type != blank %}{{v_type}}{% endif %} {{slide_id}}" title="{{ ttl | strip_html | strip | strip_newlines | escape  }}" data-index="{{forloop.index}}" {{ block.shopify_attributes }}>
            <div class="overlay {% if mobile_content_relative == true %}{% if mobile_overlay_at_tablet %}medium-down{% else %}small{% endif %}--hide{% endif %}"></div>
            {{video}}
            {{img}}
            {% if btn1_use == false and btn1_url != blank %}
                <a class="overlay-link" href="{{btn1_url}}">
                    <span class="visually-hidden">{{ttl}}</span>
                </a>
            {% endif %}

            <div class="page-width {% if full_width == true %}full-width{% endif %}">
                {% if 
                    btn1_use == true or 
                    ttl != blank or 
                    sub_ttl != blank or
                    txt != blank 
                %}
                    <div class="slide-text-content">
                        {% render 'snippet--image', 
                            img: icn_img, 
                            useBG: false,
                            customStyle: 'max-width: 100px;display: inline-block;width: 100%;margin-bottom: 15px;'
                        %}
                        {% if top_stars > 0 %}
                            <div class="stars">
                                {% for i in (1..top_stars) %}
                                    {% render 'icon-star' %}
                                {% endfor %}
                            </div>
                        {% endif %}

                        {% if sub_ttl != blank %}
                            <h3 class="sec_h_font">{{ sub_ttl }}</h3>
                        {% endif %}
                        
                        {% if ttl != blank %}
                            {% if makeh1 %}
                                <h1 class="h2">{{ ttl }}</h1>
                            {% else %}
                                <h2 class="h2">{{ ttl }}</h2>
                            {% endif %}
                        {% endif %}
                        
                        {% if txt != blank %}
                            <div class="rte">{% if s.leaf == true %} {% render 'icon-leaf'%} {%endif%} {{ txt }}{% if s.leaf == true %} {% render 'icon-leaf'%} {%endif%}</div>
                        {% endif %}
                        
                        <div class="but-div card__link-underline-wrapper">
                        {% if btn1_use == true %}
                            <a class="btn button button--{{ btn1_style }} underlined-link white" href="{{ btn1_url }}">{{ btn1_txt }}</a>
                        {% endif %}
                        {% if btn2_use == true %}
                            <a class="btn button button--{{btn2_style}}" href="{{ btn2_url }}">{{ btn2_txt }}</a>
                        {% endif %}
                        </div>
                        
                        {% if v_modal != blank %}
                            <a class="btn button button--secondary secondary open-modal" data-open="video_{{ forloop.index }}" href="#">
                                <span>{% render 'icon-play' %}</span>
                                <span>{{v_modal_btn}}</span>
                            </a>
                        {% endif %}
                    </div>
                {% endif %}
            </div>

            {% render 'custom-css', 
                css: block_css, 
                class: slide_class,
                important: false
            %}

            {% render 'custom-css', 
                css: block_custom_css, 
                class: slide_class 
            %}

        </div>
      {% endcapture %}
    {% endif %}
{% endfor %}

{% if slides != '' %}

  <style>
  {% capture section_css %}
      == {
          overflow: hidden;
          position: relative;
          z-index: 1;
          margin: 0;
      }
      {% if use_background_images == true %}
      {% unless desktop_height contains 'vw' %}
      == {
          {{desktop_img_height}}
      }
      {% endunless %}
      {% if mobile_height != 0 %}
      {% unless mobile_height contains 'vw' %}
      /small/ {
          == {
              {{mob_img_height}}
          }
      }

      {% endunless %}
      
      {% endif %}
      {% if mobile_content_relative == true %}
      /small/ {
          == {
              height: auto;
              min-height: 100%;
          }
      }
      {% endif %}
      == .bg_image {
          position: absolute;
          top: 0;
          left:0;
          height: 100%;
          width: 100%;
          z-index: -1;
          background-repeat: no-repeat;
          background-size: cover;
      }
      == .page-width {
          position: absolute;
          top: 50%;
          left: 50%;
          {% if full_width == true %}
          width: 100%;
          padding-left: calc(var(--grid-gutter) * 0.5);
          padding-right: calc(var(--grid-gutter) * 0.5);
          {% else %}
          width: calc(100% - 7rem / var(--font-body-scale));
          max-width: {{site_max_width}};
          {% endif %}
          transform: translate(-50%,-50%);
          z-index: 2;
      }
      {% else %}
      == img {
          width: 100%;
      }
      {% endif %}

      /* Prevent video flash on mobile - hide videos initially */
      == .video-ratio {
          opacity: 0;
          transition: opacity 0.1s ease-in;
      }
      == .video-ratio.loaded {
          opacity: 1;
      }
      
      /* Hide wrong videos on each device */
      /medium-up/ {
          == .video-ratio.medium-up--hide {
              display: none !important;
          }
      }
      /small/ {
          == .video-ratio.small--hide {
              display: none !important;
          }
      }
      /* Arrows */
      .slick-arrow {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        border: 0;
        background: transparent;
        color: #111;            /* arrow color via currentColor */
        cursor: pointer
        }

        /* changed: rotate your caret to point left/right */
        .slick-prev .icon-caret { transform: rotate(90deg) }
        .slick-next .icon-caret { transform: rotate(-90deg) }

        /* optional sizing */
        .slick-arrow .icon-caret { height: 1rem }

        /* optional hover/focus states */
        .slick-arrow:hover,
        .slick-arrow:focus { color: #000 }

        .slick-arrow.slick-next:hover .icon-caret { transform: rotate(-90deg) scale(1.1); }
        .slick-arrow.slick-prev:hover .icon-caret { transform: rotate(90deg) scale(1.1); }
        /* disabled state from Slick */
        .slick-arrow.slick-disabled { opacity: .35; pointer-events: none }

        /* position arrows if you want them over the slider */
        .slider { position: relative }
        .slick-prev { position: absolute; left: 8px; top: 50%; transform: translateY(-50%) }
        .slick-next { position: absolute; right: 8px; top: 50%; transform: translateY(-50%) }
      /* Other CSS */
      == .slick-slider {
          overflow: hidden;
      }
      == slick-track,
      == .overlay-link {
          position: absolute;
          top: 0;
          left:0;
          height: 100%;
          width: 100%;
          z-index: 99999;
      }
      ==.slick-dotted.slick-slider {
          margin-bottom: 0;
      }
      == .slick-dots {
          bottom: 15px;
      }
      == .slick-dots li {
          margin: 0 7px;
      }
      == .slick-prev {
          left: 0px;
      } 
      == .slick-next {
          right: 0px;
      }
      == .slick-prev, 
      == .slick-next {
          width: 75px;
          height: 75px;
          top: 50%;
          background: transparent;
          border-color: transparent;
          /*-webkit-filter: drop-shadow(0px 0px 6px black);*/
          /*filter: drop-shadow(0px 0px 6px black);*/
          z-index: 1;
      }
      {% if section.settings.nav_hover == true %}
      == .slick-prev:hover,
      == .slick-prev:focus,
      == .slick-next:hover,
      == .slick-next:focus
      {
        transform: scale(1.1);
        background-color: {{section.settings.arrow_background_color}};
      }
      {% endif %}
      == .slick-prev::before, 
      == .slick-next::before {
          content: none !important;
          display: none !important;
      }
  
      == .slick-prev, 
      == .slick-next {
          width: 75px;
          height: 75px;
          top: 50%;
          background: transparent;
          border-color: transparent;
          z-index: 10;
          color: {{section.settings.nav_color}};
          font-size: 24px;
          font-weight: bold;
          display: flex;
          align-items: center;
          justify-content: center;
      }
      /small/ {
          == .slick-prev, 
          == .slick-next {
              top: initial;
              bottom: 15%;
              transform: translate(0,15%);
          }
      }
      {% if mobile_content_relative == true %}
          /small/ {
              == .slick-list, 
              == .slick-track {
                  position: relative;
                  top: initial;
                  left: initial;
                  height: auto;
              }
          }
      {% endif %}

      == .page-width {
          height: 100%;
      }
      == > .slide-image:not(:first-of-type) {
          opacity: 0;
          display: none;
      }
      == .video-inline {
          position: relative;
          width:100%;
          padding-top: 56.6%;
      }
      /*== .video-ratio,*/
      == .video-ratio video,
      == .video-ratio iframe,
      == .video-inline video,
      == .video-inline iframe {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          object-fit: cover;
          min-width: 100%;
          min-height: 100%;
      }
      == .video-inline + noscript + .image-content__image-container,
      == .video-ratio:not(.for-modal) {
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          position: absolute;
          top:50%;
          left:50%;
          transform: translate(-50%,-50%);
          z-index: 0;
      }
      == .video-inline + noscript + .image-content__image-container {
          z-index: -1;
      }
      == .video-inline + noscript + .image-content__image-container img {
          height: 100%;
          object-fit: cover;
      }

      == .video-ratio:not(.for-modal):before {
          content: '';
          position: absolute;
          top:0;
          left:0;
          width:100%;
          height:100%;
          z-index: 1;
      }
      == .video-ratio:not(.for-modal) .full-width {
          width: 100%;
          height: 100%;
          position: absolute;
          top:50%;
          left:50%;
          transform: translate(-50%,-50%);
      }
      == .open-modal svg {
          width: 15px;
          height: 15px;
          margin-right: 10px;
      }

  {% endcapture %}
  </style>

  {% render 'custom-css', 
      css: section_css, 
      class: css_class,
      important: false
  %}
  {% liquid
    assign additional_classes = 'nine15--slider section--nine15-slider'
    
    # Add base classes
    if class != blank
      assign additional_classes = additional_classes | append: ' ' | append: class
    endif
    
    if mobile_content_relative == true
      assign additional_classes = additional_classes | append: ' mobile-relative'
    endif
  %}
  
  {% render 'section-wrapper', 
      section: section, 
      base_class: 'section',
      additional_classes: additional_classes,
      content: slides
  %}

  {{modal}}


  {% render 'custom-css', 
      css: section_custom_css, 
      class: css_class 
  %}


  <script type="text/javascript">
      waitForJavascript(function () {
          $(document).ready(function () {
            const caretSvg = `
            <svg aria-hidden="true" focusable="false" class="icon icon-caret" viewBox="0 0 10 6">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor"></path>
            </svg>
            `
              $('{{css_class}}').slick({
                  // fade:true,
                  infinite: true,
                  autoplay: {{auto_slide}},
                  autoplaySpeed: {{s.pause}},
                  lazyLoad:"progressive",
                  arrows: {{use_arrows}},
                  prevArrow: `<button type="button" class="slick-arrow slick-prev" aria-label="Previous slide">${caretSvg}</button>`,
                  nextArrow: `<button type="button" class="slick-arrow slick-next" aria-label="Next slide">${caretSvg}</button>`,
                  {% if use_background_images == false %}
                  apaptiveHeight: true,
                  {% endif %}
                  dots: {{use_dots}},
                  rows: 0,
                  responsive: [
                      {
                          breakpoint: 750,
                          settings: {
                              dots: true
                          }
                      }
                  ]
              });
          })
          $(function(){

              var section = '{{css_class}}',
                  open = '.open-modal',
                  close = '.close-modal, .bg_close',
                  content = '.video-modal',
                  cont_active = 'active';
              $(section+' '+open).click(function(){
                  var tab = $(this),
                      tab_id = tab.attr('data-open'),
                      cont = $("#"+tab_id);
                    cont.addClass(cont_active);
              });
              $(close).click(function(){
                  var tab = $(this),
                      tab_id = tab.attr('data-close'),
                      cont = $("#"+tab_id);
                    cont.removeClass(cont_active);

                  $(".modal_video").each(function() {
                      var src = $(this).attr('src');
                      $(this).attr('src', src);
                  });
              });
          });
          
          // Prevent video flash on mobile
          $(function() {
              function showCorrectVideo() {
                  var isMobile = window.innerWidth <= 749;
                  
                  $('{{css_class}} .video-ratio').each(function() {
                      var $video = $(this);
                      var isMobileVideo = $video.hasClass('medium-up--hide');
                      var isDesktopVideo = $video.hasClass('small--hide');
                      
                      if ((isMobile && isMobileVideo) || (!isMobile && isDesktopVideo)) {
                          $video.addClass('loaded');
                      }
                  });
              }
              
              // Show correct video immediately
              showCorrectVideo();
              
              // Re-check on resize
              $(window).on('resize', function() {
                  $('{{css_class}} .video-ratio').removeClass('loaded');
                  setTimeout(showCorrectVideo, 50);
              });
          });
      });

  </script>
{% endif %}
