{% assign article_sections = article.metafields.blog.sections.value %}
{% if article_sections %}
  {% for section in article_sections %}
    {% if section.images %}
      {% comment %}This is a gallery_section{% endcomment %}
      <section class='post-sections--gallery article-template__image-gallery'>
        <div class='cell half_gutter vert-top'>
          {% if section.images.value %}
            {% for image in section.images.value %}
              <div class='cell__item medium-up--one-half'>
                <div class='inner-container'>
                  {{ image | image_url: width: 600 | image_tag }}
                </div>
              </div>
            {% endfor %}
          {% endif %}
        </div>
      </section>
    {% elsif section.text_image %}
      {% comment %}This is a text_image_section{% endcomment %}
      <section
        class='post-sections post-sections--text-image two-grid-section{% if section.section_background_color %} post-sections--text-image--background{% endif %}'
        {% if section.section_background_color %}
          style='background-color: {{ section.background_color }};'
        {% endif %}
      >
        <div class='cell half_gutter vert-top'>
          <div class='cell__item'>
            <div class='two-grid'>
              <div class='rte caption{% if section.flip_order == true %} order-2{% endif %}'>
                {% if section.body %}
                  {{ section.body | metafield_tag }}
                {% endif %}
              </div>
              <div class='image'>
                {{ section.text_image | image_url: height: 800 | image_tag: loading: 'lazy' }}
              </div>
            </div>
          </div>
        </div>
      </section>
    {% elsif section.text_section_body %}
      {% comment %}This is a text_section{% endcomment %}
      <section class='post-sections post-sections--text'>
        <div class='rte'>
          {% if section.text_section_body %}
            {{ section.text_section_body | metafield_tag }}
          {% endif %}
        </div>
      </section>
    {% elsif section.full_width_image %}
      {% comment %}This is a full_width_image_section{% endcomment %}
      <section class='post-sections post-sections--full-width-image rte'>
        {% if section.image_height != blank %}
          {{ section.image_height }}
          {% assign height = section.image_height %}
        {% else %}
          {% assign height = 800 %}
        {% endif %}
        {{ section.full_width_image | image_url: height: height | image_tag: loading: 'lazy' }}
      </section>
    {% elsif section.first_image %}
      {% comment %}This is a two_grid_section{% endcomment %}
      <section class='post-sections post-sections--two-grid two-grid-section'>
        <div class='cell half_gutter vert-top'>
          <div class='cell__item'>
            <div class='two-grid'>
              <div class='{% if section.first_image_caption %}caption{% else %}image{% endif %}'>
                {{ section.first_image | image_url: width: 600, height: 800 | image_tag: loading: 'lazy' }}
              </div>
              <div class='{% if section.second_image_caption %}caption{% else %}image{% endif %}'>
                {{ section.second_image | image_url: width: 600, height: 800 | image_tag: loading: 'lazy' }}
              </div>
            </div>
          </div>
        </div>
      </section>
    {% elsif section.quote_text %}
      {% comment %}This is a quote_section{% endcomment %}
      <section class='post-sections post-sections--quote'>
        <p>
          <em> "{{ section.quote_text }}" </em>
        </p>
      </section>
    {% endif %}
  {% endfor %}
{% endif %}
{% render 'css-post-sections' %}