{% comment %}
  Renders a product media modal. Also see 'product-media-gallery'

  Accepts:
  - product: {Object} Product liquid object
  - variant_images: {Array} Product images associated with a variant

  Usage:
  {% render 'product-media-modal' %}
{% endcomment %}

<product-modal id="ProductModal-{{ section.id }}" class="product-media-modal media-modal">
  <div
    class="product-media-modal__dialog"
    role="dialog"
    aria-label="{{ 'products.modal.label' | t }}"
    aria-modal="true"
    tabindex="-1"
  >
    <button
      id="ModalClose-{{ section.id }}"
      type="button"
      class="product-media-modal__toggle"
      aria-label="{{ 'accessibility.close' | t }}"
    >
      {% render 'icon-close' %}
    </button>

    <div
      class="product-media-modal__content color-background-1 gradient"
      role="document"
      aria-label="{{ 'products.modal.label' | t }}"
      tabindex="0"
    >
      {%- liquid
        assign has_variant_images = false
        if variant_images and variant_images.size > 0
          assign has_variant_images = true
        endif
      -%}

      {%- comment -%} If variant has variant_images, render ONLY those (variant featured image is already included in variant_images array) {%- endcomment -%}
      {%- if has_variant_images -%}
        {%- liquid
          assign vi_raw = product.selected_or_first_available_variant.metafields.custom.variant_images
          assign vi_list = vi_raw.value | default: vi_raw
          assign featured_media = product.selected_or_first_available_variant.featured_media
        -%}
        {%- comment -%} Render variant featured image first {%- endcomment -%}
        {%- if featured_media != null -%}
          {%- render 'product-media', media: featured_media, loop: section.settings.enable_video_looping, variant_image: section.settings.hide_variants -%}
        {%- endif -%}
        {%- comment -%} Render all variant_images from metafield (in admin order) {%- endcomment -%}
        {%- if vi_list -%}
          {%- for m in vi_list -%}
            {%- liquid
              assign m_id = m.id | default: ''
              assign is_media_object = false
              if m_id != ''
                assign is_media_object = true
              endif
              assign data_key = ''
              if is_media_object
                assign data_key = m.id
              else
                assign data_key = forloop.index0 | prepend: 'viu-'
              endif
            -%}
            {%- if is_media_object -%}
              <img
                class="global-media-settings global-media-settings--no-shadow product__media-item--variant"
                srcset="{{ m | image_url: width: 550 }} 550w, {{ m | image_url: width: 1100 }} 1100w, {{ m | image_url: width: 1445 }} 1445w, {{ m | image_url: width: 1680 }} 1680w, {{ m | image_url: width: 2048 }} 2048w"
                sizes="(min-width: 750px) calc(100vw - 22rem), 1100px"
                src="{{ m | image_url: width: 1445 }}"
                alt="{{ m.alt | default: product.title }}"
                loading="lazy"
                width="1100"
                height="{{ m.height | default: 1100 }}"
                data-media-id="{{ data_key }}"
              />
            {%- else -%}
              {%- liquid
                assign src = m | replace: '\\/', '/'
              -%}
              <img 
                class="global-media-settings global-media-settings--no-shadow product__media-item--variant" 
                src="{{ src }}" 
                alt="{{ product.title | escape }}" 
                loading="lazy" 
                width="1100" 
                height="1100" 
                data-media-id="{{ data_key }}" 
              />
            {%- endif -%}
          {%- endfor -%}
        {%- endif -%}
      {%- else -%}
        {%- comment -%} No variant_images: render default product.media (featured + rest) {%- endcomment -%}
        {%- if product.selected_or_first_available_variant.featured_media != null -%}
          {%- assign featured_media = product.selected_or_first_available_variant.featured_media -%}
          {%- render 'product-media', media: featured_media, loop: section.settings.enable_video_looping, variant_image: section.settings.hide_variants -%}
        {%- endif -%}
        {%- for media in product.media -%}
          {%- unless media.id == product.selected_or_first_available_variant.featured_media.id -%}
            {%- render 'product-media', media: media, loop: section.settings.enable_video_looping, variant_image: false -%}
          {%- endunless -%}
        {%- endfor -%}
      {%- endif -%}
    </div>
  </div>
</product-modal>
