{% comment %}
  Renders a product media gallery. Should be used with 'media-gallery.js'
  Also see 'product-media-modal'

  TODO: Multiple images for the same variant: https://community.shopify.com/t/how-can-i-display-multiple-images-for-a-product-variant/221456/5

  Accepts:
  - product: {Object} Product liquid object
  - variant_images: {Array} Product images associated with a variant
  - is_duplicate: {Boolean} Prevents rendering uneeded elements and duplicate ids for subsequent instances

  Usage:
  {% render 'product-media-gallery', is_duplicate: true %}
{% endcomment %}

{%- liquid
  if section.settings.hide_variants and variant_images.size == product.media.size
    assign single_media_visible = true
  endif

    assign media_count = product.media.size
  if section.settings.hide_variants and media_count > 1 and variant_images.size > 0
    assign media_count = media_count | minus: variant_images.size | plus: 1
  endif

  if media_count == 1 or single_media_visible
    assign single_media_visible_mobile = true
  endif

  if media_count == 0 or single_media_visible_mobile or section.settings.mobile_thumbnails == 'show' or section.settings.mobile_thumbnails == 'columns' and media_count < 3
    assign hide_mobile_slider = true
  endif

  if section.settings.media_size == 'large'
    assign media_width = 0.65
  elsif section.settings.media_size == 'medium'
    assign media_width = 0.55
  elsif section.settings.media_size == 'small'
    assign media_width = 0.45
  endif

  assign id_append = ''
  if is_duplicate
    assign id_append = '-duplicate'
  endif

  assign has_variant_images = false
  if variant_images and variant_images.size > 0
    assign has_variant_images = true
  endif
-%}

<media-gallery
  id="MediaGallery-{{ section.id }}{{ id_append }}"
  role="region"
  {% if section.settings.enable_sticky_info %}
    class="product__column-sticky"
  {% endif %}
  aria-label="{{ 'products.product.media.gallery_viewer' | t }}"
  data-desktop-layout="{{ section.settings.gallery_layout }}"
>
  <div id="GalleryStatus-{{ section.id }}" class="visually-hidden" role="status"></div>
  <slider-component id="GalleryViewer-{{ section.id }}{{ id_append }}" class="slider-mobile-gutter">
    {%- unless is_duplicate -%}
    <a class="skip-to-content-link button visually-hidden quick-add-hidden" href="#ProductInfo-{{ section.id }}">
      {{ 'accessibility.skip_to_product_info' | t }}
    </a>
    {%- endunless -%}
    <ul
      id="Slider-Gallery-{{ section.id }}{{ id_append }}"
      class="product__media-list contains-media grid grid--peek list-unstyled slider slider--mobile"
      role="list"
    >
      {%- comment -%} If variant has variant_images, render ONLY those (variant featured image is already included in variant_images array) {%- endcomment -%}
      {%- if has_variant_images -%}
        {%- liquid
          assign vi_raw = product.selected_or_first_available_variant.metafields.custom.variant_images
          assign vi_list = vi_raw.value | default: vi_raw
          assign featured_media = product.selected_or_first_available_variant.featured_media
        -%}
        {%- comment -%} Render variant featured image first {%- endcomment -%}
        {%- if featured_media != null -%}
          <li
            id="Slide-{{ section.id }}-{{ featured_media.id }}{{ id_append }}"
            class="product__media-item grid__item slider__slide is-active{% if single_media_visible %} product__media-item--single{% endif %}{% if featured_media.media_type != 'image' %} product__media-item--full{% endif %}"
            data-media-id="{{ section.id }}-{{ featured_media.id }}"
          >
            {%- assign media_position = 1 -%}
            {% render 'product-thumbnail',
              media: featured_media,
              media_count: vi_list.size | plus: 1,
              position: media_position,
              desktop_layout: section.settings.gallery_layout,
              mobile_layout: section.settings.mobile_thumbnails,
              loop: section.settings.enable_video_looping,
              modal_id: section.id,
              xr_button: true,
              media_width: media_width,
              media_fit: section.settings.media_fit,
              constrain_to_viewport: section.settings.constrain_to_viewport,
              lazy_load: false
            %}
          </li>
        {%- endif -%}
        {%- comment -%} Render all variant_images from metafield (in admin order) {%- endcomment -%}
        {%- if vi_list -%}
          {%- for m in vi_list -%}
            {%- liquid
              assign m_id = m.id | default: ''
              assign is_media_object = false
              if m_id != ''
                assign is_media_object = true
              endif
              assign data_key = ''
              if is_media_object
                assign data_key = m.id
              else
                assign data_key = forloop.index0 | prepend: 'viu-'
              endif
              assign computed_ratio = 1.0
              if m.aspect_ratio
                assign computed_ratio = m.aspect_ratio
              elsif m.width and m.height and m.height != 0
                assign computed_ratio = m.width | divided_by: m.height
              endif
            -%}
            <li
              id="Slide-{{ section.id }}-vi-{{ data_key }}{{ id_append }}"
              class="product__media-item grid__item slider__slide{% if single_media_visible %} product__media-item--single{% endif %}"
              data-media-id="{{ section.id }}-{{ data_key }}"
            >
              <div class="product-media-container media-type-image media-fit-cover global-media-settings gradient constrain-height" style="--ratio: {{ computed_ratio }}; --preview-ratio: {{ computed_ratio }};">
                <modal-opener class="product__modal-opener product__modal-opener--image no-js-hidden" data-modal="#ProductModal-{{ section.id }}">
                  <span class="product__media-icon motion-reduce quick-add-hidden product__media-icon--lightbox" aria-hidden="true">{% render 'icon-plus' %}</span>
                  <div class="loading-overlay__spinner hidden">
                    <svg aria-hidden="true" focusable="false" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg"><circle class="path" fill="none" stroke-width="4" cx="33" cy="33" r="30"></circle></svg>
                  </div>
                <div class="product__media media media--transparent">
                    {%- if is_media_object -%}
                      {{ m | image_url: width: 1946 | image_tag:
                      loading: 'lazy',
                      widths: '400, 620, 690, 810, 980, 1240, 1380, 1620, 1960',
                        alt: m.alt | default: product.title
                      }}
                    {%- else -%}
                      {%- liquid
                        assign src = m | replace: '\\/', '/'
                      -%}
                      <img src="{{ src }}" alt="{{ product.title | escape }}" loading="lazy" width="1946" height="1200" sizes="(min-width: 2000px) 1045px, (min-width: 990px) calc(55.0vw - 10rem), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw / 1 - 4rem)" />
                    {%- endif -%}
                </div>
                  <button class="product__media-toggle quick-add-hidden product__media-zoom-lightbox" type="button" aria-haspopup="dialog" data-media-id="{{ data_key }}">
                    <span class="visually-hidden">{{ 'products.product.media.open_media' | t: index: forloop.index }}</span>
                  </button>
                </modal-opener>
              </div>
            </li>
          {%- endfor -%}
        {%- endif -%}
      {%- else -%}
        {%- comment -%} No variant_images: If variant is explicitly selected (variant URL), show only that variant's featured image. Otherwise (product URL), show all product media. {%- endcomment -%}
        {%- if product.selected_variant != null -%}
          {%- comment -%} Variant URL: show only selected variant's featured image {%- endcomment -%}
          {%- if product.selected_variant.featured_media != null -%}
            {%- assign featured_media = product.selected_variant.featured_media -%}
            <li
              id="Slide-{{ section.id }}-{{ featured_media.id }}{{ id_append }}"
              class="product__media-item grid__item slider__slide is-active{% if single_media_visible %} product__media-item--single{% endif %}{% if featured_media.media_type != 'image' %} product__media-item--full{% endif %}"
              data-media-id="{{ section.id }}-{{ featured_media.id }}"
            >
              {%- assign media_position = 1 -%}
              {% render 'product-thumbnail',
                media: featured_media,
                media_count: 1,
                position: media_position,
                desktop_layout: section.settings.gallery_layout,
                mobile_layout: section.settings.mobile_thumbnails,
                loop: section.settings.enable_video_looping,
                modal_id: section.id,
                xr_button: true,
                media_width: media_width,
                media_fit: section.settings.media_fit,
                constrain_to_viewport: section.settings.constrain_to_viewport,
                lazy_load: false
              %}
            </li>
          {%- endif -%}
        {%- else -%}
          {%- comment -%} Product URL: show all product media {%- endcomment -%}
          {%- if product.selected_or_first_available_variant.featured_media != null -%}
            {%- assign featured_media = product.selected_or_first_available_variant.featured_media -%}
            <li
              id="Slide-{{ section.id }}-{{ featured_media.id }}{{ id_append }}"
              class="product__media-item grid__item slider__slide is-active{% if single_media_visible %} product__media-item--single{% endif %}{% if featured_media.media_type != 'image' %} product__media-item--full{% endif %}"
              data-media-id="{{ section.id }}-{{ featured_media.id }}"
            >
              {%- assign media_position = 1 -%}
              {% render 'product-thumbnail',
                media: featured_media,
                media_count: media_count,
                position: media_position,
                desktop_layout: section.settings.gallery_layout,
                mobile_layout: section.settings.mobile_thumbnails,
                loop: section.settings.enable_video_looping,
                modal_id: section.id,
                xr_button: true,
                media_width: media_width,
                media_fit: section.settings.media_fit,
                constrain_to_viewport: section.settings.constrain_to_viewport,
                lazy_load: false
              %}
            </li>
          {%- endif -%}
          {%- for media in product.media -%}
            {%- unless media.id == product.selected_or_first_available_variant.featured_media.id -%}
              {%- liquid
                capture media_index
                  if media.media_type == 'model'
                    increment model_index
                  elsif media.media_type == 'video' or media.media_type == 'external_video'
                    increment video_index
                  elsif media.media_type == 'image'
                    increment image_index
                  endif
                endcapture
                assign media_index = media_index | plus: 1
              -%}
              <li
                id="Slide-{{ section.id }}-{{ forloop.index }}{{ id_append }}"
                class="product__media-item grid__item slider__slide{% if single_media_visible %} product__media-item--single{% endif %}{% if media.media_type != 'image' %} product__media-item--full{% endif %}"
                data-media-id="{{ section.id }}-{{ media.id }}"
              >
                {% render 'product-thumbnail',
                  media: media,
                  media_count: media_count,
                  position: media_index,
                  desktop_layout: section.settings.gallery_layout,
                  mobile_layout: section.settings.mobile_thumbnails,
                  loop: section.settings.enable_video_looping,
                  modal_id: section.id,
                  xr_button: true,
                  media_width: media_width,
                  media_fit: section.settings.media_fit,
                  constrain_to_viewport: section.settings.constrain_to_viewport,
                  lazy_load: true
                %}
              </li>
            {%- endunless -%}
          {%- endfor -%}
        {%- endif -%}
      {%- endif -%}
    </ul>
    
    {%- unless is_duplicate -%}
      <div class="slider-buttons no-js-hidden quick-add-hidden{% if hide_mobile_slider %} small-hide{% endif %}">
      <button
        type="button"
        class="slider-button slider-button--prev"
        name="previous"
        aria-label="{{ 'general.slider.previous_slide' | t }}"
      >
          {% render 'icon-caret' %}
      </button>
      <div class="slider-counter caption">
        <span class="slider-counter--current">1</span>
        <span aria-hidden="true"> / </span>
        <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
        <span class="slider-counter--total">{{ media_count }}</span>
      </div>
      <button
        type="button"
        class="slider-button slider-button--next"
        name="next"
        aria-label="{{ 'general.slider.next_slide' | t }}"
      >
          {% render 'icon-caret' %}
      </button>
    </div>
    {%- endunless -%}
  </slider-component>
  {%- if first_three_d_model -%}
    <button
      class="button button--full-width product__xr-button"
      type="button"
      aria-label="{{ 'products.product.xr_button_label' | t }}"
      data-shopify-xr
      data-shopify-model3d-id="{{ first_three_d_model.id }}"
      data-shopify-title="{{ product.title | escape }}"
      data-shopify-xr-hidden
    >
      {% render 'icon-3d-model' %}
      {{ 'products.product.xr_button' | t }}
    </button>
  {%- endif -%}
  {%- if media_count > 1
    and section.settings.gallery_layout contains 'thumbnail'
    or section.settings.mobile_thumbnails == 'show'
  -%}
    <slider-component
      id="GalleryThumbnails-{{ section.id }}{{ id_append }}"
      class="thumbnail-slider slider-mobile-gutter quick-add-hidden{% unless section.settings.gallery_layout contains 'thumbnail' %} medium-hide large-up-hide{% endunless %}{% if section.settings.mobile_thumbnails != 'show' %} small-hide{% endif %}{% if media_count <= 3 %} thumbnail-slider--no-slide{% endif %}"
    >
      <button
        type="button"
        class="slider-button slider-button--prev{% if media_count <= 3 %} small-hide{% endif %}{% if media_count <= 4 %} medium-hide large-up-hide{% endif %}"
        name="previous"
        aria-label="{{ 'general.slider.previous_slide' | t }}"
        aria-controls="GalleryThumbnails-{{ section.id }}"
        data-step="3"
      >
        {% render 'icon-caret' %}
      </button>
      <ul
        id="Slider-Thumbnails-{{ section.id }}{{ id_append }}"
        class="thumbnail-list list-unstyled slider slider--mobile{% if section.settings.gallery_layout == 'thumbnail_slider' %} slider--tablet-up{% endif %}"
      >
        {%- capture sizes -%}
            (min-width: {{ settings.page_width }}px) calc(({{ settings.page_width | minus: 100 | times: media_width | round }} - 4rem) / 4),
            (min-width: 990px) calc(({{ media_width | times: 100 }}vw - 4rem) / 4),
            (min-width: 750px) calc((100vw - 15rem) / 8),
            calc((100vw - 8rem) / 3)
          {%- endcapture -%}

        {%- if has_variant_images -%}
          {%- comment -%} Thumbnails for variant_images only {%- endcomment -%}
          {%- liquid
            assign vi_raw = product.selected_or_first_available_variant.metafields.custom.variant_images
            assign vi_list = vi_raw.value | default: vi_raw
            assign featured_media = product.selected_or_first_available_variant.featured_media
          -%}
          {%- if featured_media != null -%}
            {%- liquid
              capture media_index
                if featured_media.media_type == 'model'
                  increment model_index
                elsif featured_media.media_type == 'video' or featured_media.media_type == 'external_video'
                  increment video_index
                elsif featured_media.media_type == 'image'
                  increment image_index
                endif
              endcapture
              assign media_index = media_index | plus: 1
            -%}
            <li
              id="Slide-Thumbnails-{{ section.id }}-0{{ id_append }}"
              class="thumbnail-list__item slider__slide"
              data-target="{{ section.id }}-{{ featured_media.id }}"
              data-media-position="{{ media_index }}"
            >
              {%- capture thumbnail_id -%}
                Thumbnail-{{ section.id }}-0{{ id_append }}
              {%- endcapture -%}
              <button
                class="thumbnail global-media-settings global-media-settings--no-shadow"
                aria-label="{%- if featured_media.media_type == 'image' -%}{{ 'products.product.media.load_image' | t: index: media_index }}{%- elsif featured_media.media_type == 'model' -%}{{ 'products.product.media.load_model' | t: index: media_index }}{%- elsif featured_media.media_type == 'video' or featured_media.media_type == 'external_video' -%}{{ 'products.product.media.load_video' | t: index: media_index }}{%- endif -%}"
                aria-current="true"
                aria-controls="GalleryViewer-{{ section.id }}{{ id_append }}"
                aria-describedby="{{ thumbnail_id }}"
              >
                {{ featured_media.preview_image | image_url: width: 416 | image_tag:
                  loading: 'lazy',
                  sizes: sizes,
                  widths: '54, 74, 104, 162, 208, 324, 416',
                  id: thumbnail_id,
                  alt: featured_media.alt | escape
                }}
              </button>
            </li>
          {%- endif -%}
          {%- if vi_list -%}
            {%- for m in vi_list -%}
              {%- liquid
                assign m_id = m.id | default: ''
                assign is_media_object = false
                if m_id != ''
                  assign is_media_object = true
                endif
                assign data_key = ''
                if is_media_object
                  assign data_key = m.id
                else
                  assign data_key = forloop.index0 | prepend: 'viu-'
                endif
              -%}
              <li
                id="Slide-Thumbnails-{{ section.id }}-vi-{{ data_key }}{{ id_append }}"
                class="thumbnail-list__item slider__slide"
                data-target="{{ section.id }}-{{ data_key }}"
                data-media-position="999"
              >
                {%- capture thumbnail_id -%}
                  Thumbnail-{{ section.id }}-vi-{{ data_key }}{{ id_append }}
                {%- endcapture -%}
                <button
                  class="thumbnail global-media-settings global-media-settings--no-shadow"
                  aria-label="{{ 'products.product.media.load_image' | t: index: forloop.index }}"
                  aria-controls="GalleryViewer-{{ section.id }}{{ id_append }}"
                  aria-describedby="{{ thumbnail_id }}"
                >
                  {%- if is_media_object -%}
                    {{ m | image_url: width: 416 | image_tag:
                      loading: 'lazy',
                      widths: '54, 74, 104, 162, 208, 324, 416',
                      id: thumbnail_id,
                      alt: m.alt | default: product.title
                    }}
                  {%- else -%}
                    {%- liquid
                      assign src = m | replace: '\\/', '/'
                    -%}
                    <img src="{{ src }}" alt="{{ product.title | escape }}" loading="lazy" width="208" height="208" />
                  {%- endif -%}
                </button>
              </li>
            {%- endfor -%}
          {%- endif -%}
        {%- else -%}
          {%- comment -%} No variant_images: If variant is explicitly selected (variant URL), show only that variant's thumbnail. Otherwise (product URL), show all product media thumbnails. {%- endcomment -%}
          {%- if product.selected_variant != null -%}
            {%- comment -%} Variant URL: show only selected variant's thumbnail {%- endcomment -%}
            {%- assign featured_media = product.selected_variant.featured_media -%}
            {%- if featured_media != null -%}
              {%- liquid
                capture media_index
                  if featured_media.media_type == 'model'
                    increment model_index
                  elsif featured_media.media_type == 'video' or featured_media.media_type == 'external_video'
                    increment video_index
                  elsif featured_media.media_type == 'image'
                    increment image_index
                  endif
                endcapture
                assign media_index = media_index | plus: 1
              -%}
              <li
                id="Slide-Thumbnails-{{ section.id }}-0{{ id_append }}"
                class="thumbnail-list__item slider__slide"
                data-target="{{ section.id }}-{{ featured_media.id }}"
                data-media-position="{{ media_index }}"
              >
                {%- capture thumbnail_id -%}
                  Thumbnail-{{ section.id }}-0{{ id_append }}
                {%- endcapture -%}
                <button
                  class="thumbnail global-media-settings global-media-settings--no-shadow"
                  aria-label="{%- if featured_media.media_type == 'image' -%}{{ 'products.product.media.load_image' | t: index: media_index }}{%- elsif featured_media.media_type == 'model' -%}{{ 'products.product.media.load_model' | t: index: media_index }}{%- elsif featured_media.media_type == 'video' or featured_media.media_type == 'external_video' -%}{{ 'products.product.media.load_video' | t: index: media_index }}{%- endif -%}"
                  aria-current="true"
                  aria-controls="GalleryViewer-{{ section.id }}{{ id_append }}"
                  aria-describedby="{{ thumbnail_id }}"
                >
                  {{ featured_media.preview_image | image_url: width: 416 | image_tag:
                    loading: 'lazy',
                    sizes: sizes,
                    widths: '54, 74, 104, 162, 208, 324, 416',
                    id: thumbnail_id,
                    alt: featured_media.alt | escape
                  }}
                </button>
              </li>
            {%- endif -%}
          {%- else -%}
            {%- comment -%} Product URL: show all product media thumbnails {%- endcomment -%}
            {%- assign featured_media = product.selected_or_first_available_variant.featured_media -%}
            {%- if featured_media != null -%}
              {%- liquid
                capture media_index
                  if featured_media.media_type == 'model'
                    increment model_index
                  elsif featured_media.media_type == 'video' or featured_media.media_type == 'external_video'
                    increment video_index
                  elsif featured_media.media_type == 'image'
                    increment image_index
                  endif
                endcapture
                assign media_index = media_index | plus: 1
              -%}
              <li
                id="Slide-Thumbnails-{{ section.id }}-0{{ id_append }}"
                class="thumbnail-list__item slider__slide"
                data-target="{{ section.id }}-{{ featured_media.id }}"
                data-media-position="{{ media_index }}"
              >
                {%- capture thumbnail_id -%}
                  Thumbnail-{{ section.id }}-0{{ id_append }}
                {%- endcapture -%}
                <button
                  class="thumbnail global-media-settings global-media-settings--no-shadow"
                  aria-label="{%- if featured_media.media_type == 'image' -%}{{ 'products.product.media.load_image' | t: index: media_index }}{%- elsif featured_media.media_type == 'model' -%}{{ 'products.product.media.load_model' | t: index: media_index }}{%- elsif featured_media.media_type == 'video' or featured_media.media_type == 'external_video' -%}{{ 'products.product.media.load_video' | t: index: media_index }}{%- endif -%}"
                  aria-current="true"
                  aria-controls="GalleryViewer-{{ section.id }}{{ id_append }}"
                  aria-describedby="{{ thumbnail_id }}"
                >
                  {{ featured_media.preview_image | image_url: width: 416 | image_tag:
                    loading: 'lazy',
                    sizes: sizes,
                    widths: '54, 74, 104, 162, 208, 324, 416',
                    id: thumbnail_id,
                    alt: featured_media.alt | escape
                  }}
                </button>
              </li>
            {%- endif -%}
            {%- for media in product.media -%}
              {%- unless media.id == product.selected_or_first_available_variant.featured_media.id -%}
                {%- liquid
                  capture media_index
                    if media.media_type == 'model'
                      increment model_index
                    elsif media.media_type == 'video' or media.media_type == 'external_video'
                      increment video_index
                    elsif media.media_type == 'image'
                      increment image_index
                    endif
                  endcapture
                  assign media_index = media_index | plus: 1
                -%}
                <li
                  id="Slide-Thumbnails-{{ section.id }}-{{ forloop.index }}{{ id_append }}"
                  class="thumbnail-list__item slider__slide"
                  data-target="{{ section.id }}-{{ media.id }}"
                  data-media-position="{{ media_index }}"
                >
                  {%- if media.media_type == 'model' -%}
                    <span class="thumbnail__badge" aria-hidden="true">
                      {%- render 'icon-3d-model' -%}
                    </span>
                  {%- elsif media.media_type == 'video' or media.media_type == 'external_video' -%}
                    <span class="thumbnail__badge" aria-hidden="true">
                      {%- render 'icon-play' -%}
                    </span>
                  {%- endif -%}
                  {%- capture thumbnail_id -%}
                    Thumbnail-{{ section.id }}-{{ forloop.index }}{{ id_append }}
                  {%- endcapture -%}
                  <button
                    class="thumbnail global-media-settings global-media-settings--no-shadow"
                    aria-label="{%- if media.media_type == 'image' -%}{{ 'products.product.media.load_image' | t: index: media_index }}{%- elsif media.media_type == 'model' -%}{{ 'products.product.media.load_model' | t: index: media_index }}{%- elsif media.media_type == 'video' or media.media_type == 'external_video' -%}{{ 'products.product.media.load_video' | t: index: media_index }}{%- endif -%}"
                    {% if media == product.selected_or_first_available_variant.featured_media
                      or product.selected_or_first_available_variant.featured_media == null
                      and forloop.index == 1
                    %}
                      aria-current="true"
                    {% endif %}
                    aria-controls="GalleryViewer-{{ section.id }}{{ id_append }}"
                    aria-describedby="{{ thumbnail_id }}"
                  >
                    {{ media.preview_image | image_url: width: 416 | image_tag:
                      loading: 'lazy',
                      sizes: sizes,
                      widths: '54, 74, 104, 162, 208, 324, 416',
                      id: thumbnail_id,
                      alt: media.alt | escape
                    }}
                  </button>
                </li>
              {%- endunless -%}
            {%- endfor -%}
          {%- endif -%}
        {%- endif -%}
      </ul>
      <button
        type="button"
        class="slider-button slider-button--next{% if media_count <= 3 %} small-hide{% endif %}{% if media_count <= 4 %} medium-hide large-up-hide{% endif %}"
        name="next"
        aria-label="{{ 'general.slider.next_slide' | t }}"
        aria-controls="GalleryThumbnails-{{ section.id }}"
        data-step="3"
      >
        {% render 'icon-caret' %}
      </button>
    </slider-component>
  {%- endif -%}
</media-gallery>
