{% if img != blank %}
  {% comment %}
    {% render 'snippet--image',
      img: s.image,
      useBG: false,
      lazy: true,
      cf: false,
      id: id,
      style: style,
      class: xtra,
      setHeight: height,
      setWidth: width,
    %}
  {% endcomment %}
  <!-- snippets/snippet--image -->
  {% liquid
    if img_master contains '.webp'
      assign cf = true
    endif

    unless lazy == false or cf == true
      assign is_lazy = true
      assign lazyload = 'lazyload'
    else
      assign is_lazy = false
      assign lazyload = ''
      assign cf = true
    endunless

    assign img_alt = img.alt
    if alt != blank
      assign img_alt = alt
    endif

    assign img_master = img | image_url
    assign img_src = img | image_url
    assign img_url = img | image_url
    
    if setWidth != blank
      assign width = setWidth | remove: 'px'
    elsif img.width != blank and img.height != blank
      assign width = img.width
      assign height = img.height
    else
      assign width = '600'
      assign height = '600'
    endif
    if setHeight
      assign height = setHeight 
    endif
    
    assign width_num = width | times: 1
    assign height_num = height | times: 1
    assign padding_top = height_num | times: 100 | divided_by: width_num | append: '%'
    assign image_width = width 
    assign image_height = height 

    if cf == true
      unless img_master contains '.webp'
        assign img_src = img
        assign img_master = img
      else
        assign img_src = img_master
      endunless
      assign image_width = '100%'
    endif

    assign key = image_width | append: padding_top | append: alt | append: section.id | append: block.id | append: forloop.index
    assign image_id = img | hmac_sha1: key
  %}

  {% assign img_src_set = img.src %}
  {%- capture src_set -%}
    {%- assign widths = "200,400,600,800,1000,1200,1400,1600" | split: ',' -%}
    {%- assign width_num = width | times: 1 -%}
    {%- for w in widths -%}
      {%- assign w_num = w | times: 1 -%}
      {%- if width_num >= w_num -%}
        {%- if img contains 'cdn.shopify.com' -%}
          {%- assign img_url = img | replace: 'width=2000', 'width=' | append: w_num -%}
          {{- img_url }} {{w}}w{%- unless forloop.last and width_num == w_num -%},{%- endunless -%}
        {%- else -%}
          {{- img | image_url: width: w_num }} {{w}}w{%- unless forloop.last and width_num == w_num -%},{%- endunless -%}
        {%- endif -%}
      {%- endif -%}
    {%- endfor -%}
    {%- assign last_width = widths.last | times: 1 -%}
    {%- if width_num > last_width -%}
      {%- if img contains 'cdn.shopify.com' -%}
        ,{{ img | replace: 'width=2000', '' }} {{ width }}w
      {%- else -%}
        ,{{ img | image_url }} {{ width }}w
      {%- endif -%}
    {%- endif -%}
  {%- endcapture -%}
  {%- assign src_set = src_set | strip_newlines | strip -%}
  {% liquid
    if article
      assign base_sizes = '(min-width: 1917px) 760px, (min-width: 1200px) ' | append: width | append: 'px, 100vw' | strip
    else
      assign base_sizes = '(min-width: 1200px) ' | append: width | append: 'px, 100vw' | strip
    endif
  %}

  {% if useBG == true %}
    <noscript>
      <div class="bg_image {{class}}">
        <img
          src="{{ img_src }}"
          alt="{{ img_alt }}"
          class=""
          width="{{ width }}"
          height="{{ height }}"
          {% if style %}
            style="{{style}}"
          {% endif %}
          {{ attr }}
        >
      </div>
    </noscript>

    <div
      class="bg_image {{class}}"
    >
      <img
        {% if id %}
          id="{{id}}"
        {% endif %}
        class="{{ lazyload }} bg___image"
        src="{{ img_src }}"
        {% if is_lazy %}
          data-src="{{ img_url }}"
          data-sizes="{{-sizes-}}"
          data-srcset="{{-src_set-}}"
        {% endif %}
        alt="{{ img_alt | escape }}"
        width="{{ width }}"
        height="{{ height }}"
        {{ attr }}
      >
    </div>
  {% else %}
    {% comment %}
      <!-- {{key}} -->
      <!-- {{image_id}} -->
    {% endcomment %}
    <noscript>
      <img
        src="{{ img_src }}"
        alt="{{ img_alt }}"
        class=""
        width="{{ width }}"
        height="{{ height }}"
        {% if style %}
          style="{{style}}"
        {% endif %}
        {{ attr }}
      >
    </noscript>
    <div class="image--outer image--{{image_id}} {{class}}">
      <div class="image--inner ">
        {% comment %} 
          {% if is_lazy %} lazyload{% endif %}
        {% endcomment %}
        <img
          {% if id %}id="{{id}}"{% endif %}
          class="else___image{% if is_lazy %} lazyload{% endif %}"
          src="{{ img_src }}"
          {% if is_lazy %}
            data-src="{{ img_url }}"
            data-srcset="{{ src_set }}"
            data-sizes="{{ base_sizes }}"
            data-expand="-10"
            data-parent-fit="contain"
            loading="lazy"
          {% else %}
            srcset="{{ src_set }}"
            sizes="{{ base_sizes }}"
          {% endif %}
          alt="{{ img_alt | escape }}"
          width="{{ width }}"
          height="{{ height }}"
          {{ attr }}
        >
      </div>
      <style type="text/css">
        .image--{{image_id}} {
          --image--max-source: url('{{ img_master }}');
          --image--natural-width:{{image_width}};
          --image--natural-height:{{padding_top}};
          --image--set-width:{{image_width}};
          --image--set-height:{{padding_top}};
          {%- if setHeight -%}--image--set-height:{{setHeight}}px;{%- endif -%}
          {%- if setWidth -%}--image--set-width:{{setWidth}}px;{%- endif -%}
          {{style}}
        }
        .image--{{image_id}} .image--inner {
          padding-top:var(--image--set-height,56.6%);
        }
      </style>
    </div>
  {% endif %}
{% endif %}
