{% if vidExt != blank or vidHosted != blank or metaVideo != blank  %}
  <!-- snippets/snippet--video -->
  {% liquid

    assign vID              = vidExt.id
    assign vidType          = vidExt.type
    assign showMobile       = false 
    unless hideMobile
      assign hideMobile       = ''
    endunless
    assign hideAutoplay     = '' 
    assign thmbPoster       = '' 

    assign designMode       = true
    assign designMode       = request.design_mode

    if defer 
      assign designMode     = true
    endif 

    if metaVideo == true 
      assign vidType        = 'youtube'
      if vidExt contains 'youtu.be' 
        assign vID          = vidExt | split: 'be/' | last 
      elsif vidExt contains 'youtube.com' 
        assign vID          = vidExt | split: '?v=' | last 
      elsif vidExt contains 'vimeo.com' 
        assign vidType      = 'vimeo'
        assign vID          = vidExt | split: '.com/' | last 
      else
        assign vidHosted    = vidExt
      endif 
    endif 

    if hostedThumb != blank 
      assign thmbPoster       = hostedThumb | prepend: '//orcaliving.myshopify.com/cdn/shop/'
      if cF != true 
        assign thmbPoster     = hostedThumb | prepend: '//orcaliving.myshopify.com/cdn/shop/'
      endif 
    endif 

    if vidHosted != blank
      assign vidType        = 'video'
      assign showMobile     = true
    endif

    if autoPlay != false and normalMobile == true
      assign showMobile     = true 
      assign hideAutoplay   = 'small--hide' 
    endif 

    if autoPlay != false and normalMobile != true and hideMobile == ''
      assign hideMobile     = 'small--hide'
    endif 

  %}

  {% capture videoEl %}
    <deferred-media class="video-section__media deferred-media no-js-hidden gradient global-media-settings global-media-settings--full-width" data-media-id="{{ vID }}">
      <button
        id="Deferred-Poster-Modal-{{ vID }}"
        class="video-section__poster media deferred-media__poster media--landscape"
        type="button"
        aria-label="{{ 'sections.video.load_video' | t: description: section.settings.description | escape }}"
      >

        <span class="deferred-media__poster-button motion-reduce">
          {%- render 'icon-play' -%}
        </span>
      </button>
      <template>
        {%- if vidType == 'youtube' -%}
          <iframe src="https://www.youtube.com/embed/{{ vID }}?enablejsapi=1" class="js-youtube" allow="autoplay; encrypted-media" allowfullscreen title="{{ section.settings.description | escape }}"></iframe>
        {%- else -%}
          <iframe src="https://player.vimeo.com/video/{{ vID }}" class="js-vimeo" allow="autoplay; encrypted-media" allowfullscreen title="{{ section.settings.description | escape }}"></iframe>
        {%- endif -%}
      </template>
    </deferred-media>
  {% endcapture %}

  {% capture videoEl %}
    {% comment %} if Youtube {% endcomment %}
    {% if vidType == "youtube" %}
      <iframe
        class="{% unless designMode %}lazyload{% endunless %} iframe-video {{hideAutoplay}}"
        {% unless designMode %}data-{% endunless %}src="https://www.youtube.com/embed/{{ vID }}?{% unless autoPlay == false %}&autoplay=1&mute=1&loop=1{% endunless %}&controls=0&vq=hd720&playlist={{ vID }}"
        width="800"
        id="video-{{vID}}"
        height="480"
        {% unless autoPlay == false %}
        allow="autoplay"
        {% endunless %}
        {% if useBG == true and videoRatio != blank%}
        data-video-ratio="{{videoRatio}}"
        {% endif %}
        frameborder="0"
        allowfullscreen></iframe>
      {% comment %} Show a version of video on mobile that allows user to press play. {% endcomment %}
      {% if showMobile == true %}
        <iframe
        class="{% unless designMode %}lazyload{% endunless %} iframe-video medium-up--hide"
        {% unless designMode %}data-{% endunless %}src="https://www.youtube.com/embed/{{ vID }}?&controls=0&vq=hd720&playlist={{ vID }}"
        width="800"
        id="video-{{vID}}"
        height="480"
        frameborder="0"
        {% if useBG == true and videoRatio != blank%}
        data-video-ratio="{{videoRatio}}"
        {% endif %}
        allowfullscreen></iframe>
      {% endif %}
    {% endif %}
    {% comment %} if Vimeo {% endcomment %}
    {% if vidType == "vimeo" %}
      <iframe
        class="{% unless designMode %}lazyload{% endunless %} lazyload iframe-video {{hideAutoplay}}"
        id="video-{{vID}}"
        {% unless designMode %}data-{% endunless %}src="//player.vimeo.com/video/{{ vID }}?background=1{% unless autoPlay == false %}&autoplay=1&loop=1&muted=1&autopause=0{% endunless %}&byline=0&title=0"
        width="800"
        height="480"
        frameborder="0"
        webkitallowfullscreen
        mozallowfullscreen


        {% if useBG == true and videoRatio != blank%}
        data-video-ratio="{{videoRatio}}"
        {% endif %}
        allowfullscreen></iframe>
      {% comment %} Show a version of video on mobile that allows user to press play. {% endcomment %}
      {% if showMobile == true %}
        <iframe
          class="{% unless designMode %}lazyload{% endunless %} iframe-video medium-up--hide"
          id="video{{section.id}}{{block.id}}"
          {% unless designMode %}data-{% endunless %}src="//player.vimeo.com/video/{{ vID }}?background=1&byline=0&title=0"
          width="800"
          height="480"
          frameborder="0"
          webkitallowfullscreen
          mozallowfullscreen
          {% if useBG == true and videoRatio != blank%}
          data-video-ratio="{{videoRatio}}"
          {% endif %}
          allowfullscreen></iframe>
      {% endif %}
    {% endif %}
    {% comment %} if Self-Hosted {% endcomment %}
    {% if vidType == 'video' %}
      <video 
        class="html-video desktop-video" 
        width="800" 
        height="480" 
        preload="auto"
        {% if thmbPoster != blank and autoPlay == false %}poster="https:{{ thmbPoster }}"{% endif %}
        id="video{{section.id}}{{block.id}}" 
        style="object-fit: cover; object-position: center center;"
        {% unless autoPlay == false %}
        autoplay muted loop playsinline
        {% else %}
        controls
        {% endunless %}
        {% if useBG == true and videoRatio != blank%}
        data-video-ratio="{{videoRatio}}"
        {% endif %}
        src="{{vidHosted}}">Your browser does not support HTML5 video. Please update your browser.</video>
        {% comment %} {% if thmbPoster == blank %}#t=0.5{% endif %} {% endcomment %}
        {% comment %} {% unless designMode %}data-{% endunless %} {% endcomment %}
      {% comment %} Show a version of video on mobile that allows user to press play. {% endcomment %}
      {% if showMobile == true %}
        <video 
          class="{% unless designMode %}lazyload{% endunless %} html-video medium-up--hide" 
          width="800" 
          height="480" 
          {% if thmbPoster == blank %}
          preload="metadata"
          {% elsif autoPlay == false %}
          poster="https:{{thmbPoster}}"
          {% endif %}
          {% if autoPlay == true or autoPlayHostedMobile == true %}
          autoplay muted loop playsinline
          {% else %}
          controls
          {% endif %}
          {% if useBG == true and videoRatio != blank%}
          data-video-ratio="{{videoRatio}}"
          {% endif %}
          {% unless designMode %}data-{% endunless %}src="{{vidHosted}}{% if thmbPoster == blank %}#t=0.5{% endif %}"></video>
      {% endif %}
    {% endif %}
  {% endcapture %}



  {% if useBG == true %}
    <div class="video-ratio {{hideMobile}} {{vidClass}}">
      {{videoEl}}
    </div>
  {% else %}
    <div class="video-inline {{hideMobile}} {{vidClass}}">
      <div class="wrapper">
        {{videoEl}}
      </div>
    </div>
  {% endif %}
{% endif %}
